body {
    /*overflow: hidden !important;*/
}

.drag-region {
    -webkit-app-region: drag;
}

#window-controls .button {
    font-family: "Segoe MDL2 Assets", sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-app-region: no-drag;
}

#window-controls #close-button {
    color: red;
}

#window-controls .button:hover {
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

#window-controls #close-button:hover {
    color: white;
    background: red;
}

#window-controls #restore-button {
    display: none;
}

.list-hard .list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.list-hard .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list-group-item.tab-link{
    background-color: darkgrey;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list-group-item.tab-link.active {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.125);
    border-right: 0 none;
}

.inactive-item {
    height: 100vh;
    background: rgba(71, 71, 71, 1);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.filled-circle {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    height: 20px;
    width: 20px;
    margin: 0 4px;
    margin-top: 6px;
    background-color:gray;
}

.correct-circle {
    background-color: rgb(19, 197, 19) !important;
}

.partially-circle {
    background-color: orange !important;
}

.incorrect-circle {
    background-color: red !important;
}

.bg-stage-1 {
    background-color:  rgb(0, 128, 255);
}

.bg-stage-2 {
    background-color:  rgb(3, 141, 207);
}

.bg-stage-3 {
    background-color:  rgb(7, 155, 160);
}

.bg-stage-4 {
    background-color:  rgba(11, 169, 113);
}

.bg-stage-5 {
    background-color:  rgba(15, 183, 66);
}

.bg-stage-6 {
    background-color:  rgba(19, 197, 19);
}

textarea {
    resize: none;
}